# What is Python?

Python is a high-level programming language, with applications in numerous areas, including web programming, scripting, scientific computing, and artificial intelligence.

It is very popular and used by organizations such as Google, NASA, the CIA, and Disney.

Python is processed at runtime by the <b>interpreter</b>. There is no need to <b>compile</b> your program before executing it.
An interpreter is a program that runs scripts written in an interpreted language such as Python.

The three major versions of Python are 1.x, 2.x and 3.x. These are subdivided into minor versions, such as 2.7 and 3.7.

Code written for Python 3.x is guaranteed to work in all future versions.

Only Python 3.x is used currently.

This course covers Python 3.x, but it isn't hard to change from one version to another.

# Your first program

Let's start off by creating a short program that displays "Hello world!".
In Python, we use the print statement to output text:

In [ ]:
print('Hello world!')

When using a computer, you will need to download and install Python from www.python.org.

Python is an interpreted language, which means that each line is executed as it is entered.

# Simple Operations
Python has the capability of carrying out calculations.
Enter a calculation directly into the Python console, and it will output the answer.

In [ ]:
2 + 2

In [ ]:
5 + 4 - 3

The spaces around the plus and minus signs here are optional (the code would work without them), but they make it easier to read.

Python also carries out multiplication and division, using an asterisk to indicate multiplication and a forward slash to indicate division.

Use parentheses to determine which operations are performed first.

In [ ]:
2 * (3 + 4)

In [ ]:
10 / 2

Using a single slash to divide numbers produces a decimal (or float – floating point number – as it is called in programming). 

The minus sign indicates a negative number.
Operations are performed on negative numbers, just as they are on positive ones.

In [ ]:
(-7 + 2) * (-4)

The plus signs can also be put in front of numbers, but this has no effect, and is mostly used to emphasize that a number is positive to increase readability of code.

Dividing by zero in Python produces an error, as no answer can be calculated.

In [ ]:
11 / 0

In Python, the last line of an error message indicates the error's type.
Read error messages carefully, as they often tell you how to fix a program!

# Operators table
<img src="https://www.tommasoadamo.it/images/lez1/operators.png" style="margin:auto"/>

# Floats

Floats are used in Python to represent numbers that aren't integers.
Some examples of numbers that are represented as floats are 0.5 and -7.8237591.
They can be created directly by entering a number with a decimal point, or by using operations such as division on integers. Extra zeros at the number's end are ignored.

In [ ]:
3/4

Computers can't store floats perfectly accurately, in the same way that we can't write down the complete decimal expansion of 1/3 (0.3333333333333333...). Keep this in mind, because it often leads to infuriating bugs!

As you saw previously, dividing any two integers produces a float.
A float is also produced by running an operation on two floats, or on a float and an integer.

In [ ]:
8 / 2

In [ ]:
6 * 7.0

In [ ]:
4 + 1.65

A float can be added to an integer, because Python silently converts the integer to a float. However, this implicit conversion is the exception rather the rule in Python - usually you have to convert values manually if you want to operate on them.

Besides addition, subtraction, multiplication, and division, Python also supports exponentiation, which is the raising of one number to the power of another. This operation is performed using two asterisks.

In [ ]:
2 ** 5

In [ ]:
9 ** (1/2)

To determine the quotient and remainder of a division, use the floor division and modulo operators, respectively.
Floor division is done using two forward slashes.
The modulo operator is carried out with a percent symbol (%).
These operators can be used with both floats and integers.


This code shows that 6 goes into 20 three times, and the remainder when 20 is divided by 6 is 2.

In [ ]:
20 // 6

In [ ]:
20 % 6

In the example above, 20 % 6 will return 2, because 3*6+2 is equal to 20.

# Strings
If you want to use text in Python, you have to use a string.
A string is created by entering text between two single or double quotation marks.

When the Python console displays a string, it generally uses single quotes. The delimiter used for a string doesn't affect how it behaves in any way.

In [ ]:
"Python is fun!"

In [ ]:
'Always look on the bright side of life'

Some characters can't be directly included in a string. For instance, double quotes can't be directly included in a double quote string; this would cause it to end prematurely.

Characters like these must be escaped by placing a backslash before them.
Other common characters that must be escaped are newlines and backslashes.

Double quotes only need to be escaped in double quote strings, and the same is true for single quote strings.

In [ ]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

\n represents a new line.
Backslashes can also be used to escape tabs, arbitrary Unicode characters, and various other things that can't be reliably printed. These characters are known as escape characters.

Python provides an easy way to avoid manually writing "\n" to escape newlines in a string. Create a string with three sets of quotes, and newlines that are created by pressing Enter are automatically escaped for you.

In [ ]:
"""Customer: Good morning.
Owner: Good morning, Sir. Welcome to the National Cheese Emporium."""

As you can see, the \n was automatically put in the output, where we pressed Enter.

# Input & Output
Usually, programs take input and process it to produce output.
In Python, you can use the print function to produce output. This displays a textual representation of something to the screen.

In [ ]:
print("Hello\nWorld!")

In [ ]:
print(1 + 1)

When a string is printed, the quotes around it are not displayed.

To get input from the user in Python, you can use the intuitively named <b>input</b> function.
The function prompts the user for input, and returns what they enter as a string (with the contents automatically escaped).

In [ ]:
input("Enter something please: ")

The print and input functions aren't very useful at the Python console, which automatically does input and output. However, they are very useful in actual programs.

# Concatenation

As with integers and floats, strings in Python can be added, using a process called concatenation, which can be done on any two strings.
When concatenating strings, it doesn't matter whether they've been created with single or double quotes.

In [ ]:
"First string" + ", " + "second string"

In [ ]:
print("First string" + ", " + "second string")

You can't concatenate strings with numbers (integers). Why? Try!

Even if your strings contain numbers, they are still added as strings rather than integers. Adding a string to a number produces an error, as even though they might look similar, they are two different entities.

In [ ]:
"2"+"3"

In [ ]:
"2"+3

# String operations

Strings can also be multiplied by integers. This produces a repeated version of the original string. The order of the string and the integer doesn't matter, but the string usually comes first.

Strings can't be multiplied by other strings. Strings also can't be multiplied by floats, even if the floats are whole numbers.

In [ ]:
print("test " * 3)

In [ ]:
"1" * 3

 The **len** function takes a string and evaluates to an int of the number of characters in the string.

In [ ]:
print(len("Hello world"))

# Type Conversion

In Python, it's impossible to complete certain operations due to the types involved. For instance, you can't add two strings containing the numbers 2 and 3 together to produce the integer 5, as the operation will be performed on strings, making the result '23'.

The solution to this is type conversion.

In that example, you would use the <b>int</b> function.

In [ ]:
"2" + "3"

In [ ]:
int("2") + int("3")

In Python, the types we have used so far have been integers, floats, and strings. The functions used to convert to these are <b>int</b>, <b>float</b> and <b>str</b>, respectively.

Another example of type conversion is turning user input (which is a string) to numbers (integers or floats), to allow for the performance of calculations.

In [ ]:
float(input("Enter a number: ")) + float(input("Enter another number: "))

Passing non-integer or float values will cause an error.

# Variables

Variables play a very important role in most programming languages, and Python is no exception. 

A variable allows you to store a value by assigning it to a name, which can be used to refer to the value later in the program.

<img src="https://www.tommasoadamo.it/images/lez1/var.jpg" style="margin:auto; width: 250px"/> 

To assign a variable, use <b>one equals sign</b>. Unlike most lines of code we've looked at so far, it doesn't produce any output at the Python console.

In [ ]:
x = 42

In [ ]:
print(x + 3)

In [ ]:
print(x)

You can use variables to perform corresponding operations, just as you did with numbers and strings. As you can see, the variable stores its value throughout the program.

Variables can be reassigned as many times as you want, in order to change their value. **When a new value is assigned to a variable, the old one is forgotten**.

<img src="https://www.tommasoadamo.it/images/lez1/var_assign.jpg" style="margin:auto; width: 320px;" /> 

In Python, variables don't have specific types, so you can assign a string to a variable, and later assign an integer to the same variable.

In [ ]:
x = 123.456

In [ ]:
print(x)

In [ ]:
x = "This is a string"

In [ ]:
print(x + "!")

However, it is not good practice. To avoid mistakes, try to avoid overwriting the same variable with different data types.

The **type** function retrieves the type for the value currently stored by a variable.

In [ ]:
x = 10
print(type(x))
x = 45.3
print(type(x))
x = 'Hello'
print(type(x))

Certain restrictions apply in regard to the characters that may be used in Python variable names. The only characters that are allowed are letters, numbers, and underscores. Also, they can't start with numbers.

Not following these rules results in errors.

<table class="topbot-d">
<colgroup class="calibre13">
<col class="calibre18">
<col class="calibre18">
</colgroup>
<thead class="calibre15">
<tr class="calibre16">
<td class="table-h"><p class="tab_th"><strong class="calibre4">Valid variable names</strong></p></td>
<td class="table-h"><p class="tab_th"><strong class="calibre4">Invalid variable names</strong></p></td>
</tr>
</thead>
<tbody class="calibre17">
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">current_balance</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">current-balance</span> (hyphens are not allowed)</p></td>
</tr>
<tr class="calibre16">
<td class="table-v"><p class="taba"><span class="literal">currentBalance</span></p></td>
<td class="table-v"><p class="taba"><span class="literal">current balance</span> (spaces are not allowed)</p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">account4</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">4account</span> (can’t begin with a number)</p></td>
</tr>
<tr class="calibre16">
<td class="table-v"><p class="taba"><span class="literal">_42</span></p></td>
<td class="table-v"><p class="taba"><span class="literal">42</span> (can’t begin with a number)</p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">TOTAL_SUM</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">TOTAL_\$UM</span> (special characters like <span class="literal">$</span> are not allowed)</p></td>
</tr>
<tr class="calibre16">
<td class="table-va"><p class="taba"><span class="literal">hello</span></p></td>
<td class="table-va"><p class="taba"><span class="literal">'hello'</span> (special characters like <span class="literal">'</span> are not allowed)</p></td>
</tr>
</tbody>
</table>

In [ ]:
this_is_a_normal_name = 7

In [ ]:
123abc = 7

In [ ]:
no space

Python is a case sensitive programming language. Thus, Lastname and lastname are two different variable names in Python.

Trying to reference a variable you haven't assigned to causes an error.

You can use the **del** statement to remove a variable, which means the reference from the name to the value is deleted, and trying to use the variable causes an error. 
Deleted variables can be reassigned to later as normal.

In [ ]:
foo = "a string"

In [ ]:
foo

In [ ]:
bar

In [ ]:
del foo

In [ ]:
foo

You can also take the value of the variable from the user input.

In [ ]:
foo = input("Enter a number: ")

In [ ]:
print(foo)

# In-place operators

In-place operators allow you to write code like 'x = x + 3' more concisely, as 'x += 3'.
The same thing is possible with other operators such as -, *, /, //, ** and % as well.

In [ ]:
x = 2

In [ ]:
print(x)

In [ ]:
x += 3

In [ ]:
print(x)

These operators can be used on types other than numbers, as well, such as strings.

In [ ]:
x = "test "

In [ ]:
print(x)

In [ ]:
x += "me"

In [ ]:
print(x)

# Booleans
Another type in Python is the Boolean type. There are two Boolean values: True and False.

They can be created by comparing values, for instance by using the equal operator ==.

In [ ]:
my_boolean = True

In [ ]:
my_boolean

In [ ]:
2 == 3

In [ ]:
"hello" == "hello"

Be careful not to confuse assignment (one equals sign) with comparison (two equals signs).

# Comparisons
Another comparison operator, the not equal operator (!=), evaluates to True if the items being compared aren't equal, and False if they are.

In [ ]:
1 != 1

In [ ]:
"eleven" != "seven"

In [ ]:
2 != 10

Python also has operators that determine whether one number (float or integer) is greater than or smaller than another. These operators are > and < respectively.

In [ ]:
7 > 5

In [ ]:
10 < 10

The greater than or equal to, and smaller than or equal to operators are >= and <=.
They are the same as the strict greater than and smaller than operators, except that they return True when comparing equal numbers.

In [ ]:
7 <= 8

In [ ]:
9 >= 9.0

Greater than and smaller than operators can also be used to compare strings lexicographically (the alphabetical order of words is based on the alphabetical order of their component letters).

In [ ]:
"apple" < "banana"

# Boolean Logic

Boolean logic is used to make more complicated conditions for those statements that rely on more than one condition.

Python's Boolean operators are <b>and</b>, <b>or</b>, and <b>not</b>.

The <b>and</b> operator takes two arguments, and evaluates as True if, and only if, both of its arguments are True. Otherwise, it evaluates to False.

<table class="topbot-d">
<colgroup class="calibre13">
<col class="calibre18">
<col class="calibre18">
</colgroup>
<thead class="calibre15">
<tr class="calibre16">
<td class="table-h"><p class="tab_th"><strong class="calibre4">Expression</strong></p></td>
<td class="table-h"><p class="tab_th"><strong class="calibre4">Evaluates to . . .</strong></p></td>
</tr>
</thead>
<tbody class="calibre17">
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">True and True</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">True</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">True and False</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">False</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">False and True</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">False</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-ba"><p class="taba"><span class="literal">False and False</span></p></td>
<td class="table-ba"><p class="taba"><span class="literal">False</span></p></td>
</tr>
</tbody>
</table>

In [ ]:
1 == 1 and 2 == 2

In [ ]:
1 == 1 and 2 == 3

In [ ]:
1 != 1 and 2 == 2

In [ ]:
2 < 1 and 3 >  6

The <b>or</b> operator also takes two arguments. It evaluates to True if either (or both) of its arguments are True, and False if both arguments are False.

<table class="topbot-d">
<colgroup class="calibre13">
<col class="calibre18">
<col class="calibre18">
</colgroup>
<thead class="calibre15">
<tr class="calibre16">
<td class="table-h"><p class="tab_th"><strong class="calibre4">Expression</strong></p></td>
<td class="table-h"><p class="tab_th"><strong class="calibre4">Evaluates to . . .</strong></p></td>
</tr>
</thead>
<tbody class="calibre17">
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">True or True</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">True</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">True or False</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">True</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">False or True</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">True</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-ba"><p class="taba"><span class="literal">False or False</span></p></td>
<td class="table-ba"><p class="taba"><span class="literal">False</span></p></td>
</tr>
</tbody>
</table>

In [ ]:
1 == 1 or 2 == 2

In [ ]:
1 == 1 or 2 == 3

In [ ]:
1 != 1 or 2 == 2

In [ ]:
2 < 1 or 3 >  6

Unlike other operators we've seen so far, <b>not</b> only takes one argument, and inverts it.

The result of not True is False, and not False goes to True.

<table class="topbot-d">
<colgroup class="calibre13">
<col class="calibre18">
<col class="calibre18">
</colgroup>
<thead class="calibre15">
<tr class="calibre16">
<td class="table-h"><p class="tab_th"><strong class="calibre4">Expression</strong></p></td>
<td class="table-h"><p class="tab_th"><strong class="calibre4">Evaluates to . . .</strong></p></td>
</tr>
</thead>
<tbody class="calibre17">
<tr class="calibre16">
<td class="table-b"><p class="taba"><span class="literal">not True</span></p></td>
<td class="table-b"><p class="taba"><span class="literal">False</span></p></td>
</tr>
<tr class="calibre16">
<td class="table-ba"><p class="taba"><span class="literal">not False</span></p></td>
<td class="table-ba"><p class="taba"><span class="literal">True</span></p></td>
</tr>
</tbody>
</table>

In [ ]:
not 1 == 1

In [ ]:
not 1 > 7

# Operator Precedence

Operator precedence is a very important concept in programming. It is an extension of the mathematical idea of order of operations (multiplication being performed before addition, etc.) to include other operators, such as those in Boolean logic.

The below code shows that == has a higher precedence than or:

In [ ]:
False == False or True

In [ ]:
False == (False or True)

In [ ]:
(False == False) or True

Python's order of operations is the same as that of normal mathematics: parentheses first, then exponentiation, then multiplication/division, and then addition/subtraction.


<img src="https://www.tommasoadamo.it/images/lez1/precedence.jpeg" style="margin:auto" />

Operators in the same box have the same precedence.

**Associativity** is the order in which an expression with multiple operators of the same precedence is evaluated. Almost all the operators have left-to-right associativity.

In [ ]:
print(5 * 2 // 3)

In [ ]:
print(5 * (2 // 3))

Exponent operator ** and assignment operator = have right-to-left associativity in Python.

In [ ]:
print(2 ** 3 ** 2)

Output: 512, Since 2**(3**2) = 2**9
If 2 needs to be exponentiated first, we need to use () obtaining 64 as output.

In [ ]:
print((2 ** 3) ** 2)

Some operators like in-place operators do not have associativity in Python; comparison operators have separate rules for sequences of this kind of operator and cannot be expressed as associativity.

# Comments

Comments are annotations to code used to make it easier to understand. They don't affect how code is run.
In Python, a comment is created by inserting an octothorpe (otherwise known as a number sign or hash symbol: #). All text after it on that line is ignored.

For example:

In [ ]:
x = 365
y = 7
# this is a comment

print(x % y) # find the remainder
# print (x // y)
# another comment